.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  box-shadow: $main-shadow;
}

.page-header__container {
}

.page-header__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
}
